@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Rubik+80s+Fade&display=swap'); 

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* SECCION PARA DISPOSITIVOS */ 

@media screen and (max-width: 777px)
{
  /* Estilos específicos para dispositivos móviles con ancho máximo de 600px */     
  .slider-text {
  margin-left: 10px;  
  margin-right: 10px;
  }
  .text {
  margin-right: 10px;
  }
  .etiqueta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; 
  justify-content: center;  
  margin-top: -5px; 
  }
  .container-Ini {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  .image {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  }
  .descripcion {
    position: relative;
    z-index: 1;
  }
  .video-item1 {
  height:110px;
  margin-bottom: 20px;  
  }
  .fullscreenButton {
  background-color:orangered;    
  color:whitesmoke;
  border-radius: 6px;
  width: 257px;
  height: 60px;
  }
  .contVideosWrapper {
    overflow-y: auto;
    max-height: calc(100% - 97px); /* Ajusta la altura máxima del contenedor para mostrar una cantidad específica de videos sin desbordar */
    position: fixed;
    bottom: 0; /* Ajusta el contenedor para que inicie desde la parte inferior de la pantalla */
    left: 0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambiamos a column para que los elementos se apilen desde la parte inferior hacia arriba */
    z-index: 1; /* Aseguramos que el contenedor esté por debajo de los botones */
  }
  /*.video-v {      
  display:flex;
  flex-direction: column;
  justify-content: center;           
  margin-top: 233px;
  overflow-y: hidden;
  } */

  /*.contVideos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;  
  margin-top: 10px;
  }*/
.contBotones {
display: flex;
align-items: flex-start;
justify-content: flex-start;
margin-top: 10px;
}
  .contBotones button {
  background-color:orangered;
  color:whitesmoke;
  border-radius: 6px;
  width: 240px;
  height: 60px;
  margin-right: 16px;
  margin-top: 10px;
  }
  .boton- { 
  display: flex;
  flex-direction: row;
  }
  .botOlga{
  margin-top: 180px;
  }
  .descripcion{
  display: none;
  flex-direction: column;
  justify-content: space-evenly;      
  align-items: center; 
  margin-top: 17px;
  font-size: 20px;
  color: blue;
  margin-left: 17px; 

  position: relative;
  z-index: 1;
  }
  .image-container1 {
    display: flex;
    justify-content: center;
    gap: 10px;
  } 
  .image-container1 img {
    width: 100%;
    height: auto;
    display: block;
  }
  .image-container1 img:first-child {
    margin-left: 10px;
  }
  .image-container1 img:last-child {   
    margin-right: 10px;
  }
  #imagenes-mama {
    height: 100vh; /* Establece la altura al 100% del alto visible en la pantalla del dispositivo */    
    height: 100%; /* Establece la altura al 100% del contenedor padre (#imagenes-mama) */
  }
  .contenedor-secundario {  
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .imagenes-i {    /* PADRE IMAGENES */ 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contManola{
    margin-left: 117px;
  } 
  /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<CONTRASEÑAS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  #password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }  
  .password-container {
    background-color:red;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
  } 
  .button-container {  /* CONT/BOTON/IMAGENES */  
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  
}
  


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<    BLUR PARA LASIMAGENES      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




.image-container1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image-container2 {
  flex: 1;
}
.img {
  width: 100%;
  height: auto;
  border-radius: 17px;
}
.imgn {
  height: 300px;
  width: 100%; /* Las imágenes ocuparán el ancho completo de su contenedor */
  border-radius: 17px;
}
.pixelate {
  filter: url(#pixelate-filter);
}

@keyframes pixelate-animation {
  0% {
    filter: none;
  }
  100% {
    filter: url(#pixelate-filter);
  }
  
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

body {
  font-family: 'Audiowide', cursive;  
  background-image: url(./assets/degradadoMulicolor1.jfif);        
  background-repeat: no-repeat;
  background-size: cover;
  width: -100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}
.slider {
  background-color: gray;  /* Establece el color de fondo del slider en negro */
  width: 1272px;  /* Establece el ancho del slider al 100% del contenedor */
  height: 27px;  /* Establece la altura del slider en 100 píxeles */
  overflow: hidden;  /* Oculta cualquier contenido que exceda los límites del slider */
  position: relative;  /* Establece la posición del slider como relativa para permitir posicionar elementos hijos de forma absoluta */
}

.slider-text {
  position: absolute;  /* Establece la posición del texto del slider como absoluta para posicionarlo dentro del slider */
  top: 50%;  /* Posiciona el texto verticalmente en el centro del slider */
  left: 100%;  /* Posiciona el texto inicialmente fuera del slider en el lado derecho */
  transform: translate(-50%, -50%);  /* Centra el texto horizontalmente y verticalmente en relación al punto de referencia */
  color:rgba(0, 0, 255);  /* Establece el color del texto en blanco */
  font-size: 24px;  /* Establece el tamaño de fuente del texto en 24 píxeles */
  white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
  animation: slide 20s linear infinite;  /* Aplica la animación "slide" al texto del slider con una duración de 15 segundos, un      movimiento lineal y repetición infinita */
}

@keyframes slide {
  0% { left: 150%; }  /* Define la posición inicial del texto fuera del slider en el lado derecho */
  100% { left: -100%; }  /* Define la posición final del texto fuera del slider en el lado izquierdo */  
}
h1 {
    text-align: center;
    color:blue;
}
.container-Ini {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imagenes-i {    /* PADRE */ 
  display: flex;
  flex-direction: column; 
  overflow-y: auto;
  height: 477px;
  margin-top: 17px;
}
.etiqueta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -5px;
}


/*/////////////////////////////////////////////////////////////////////////////////////*/
.contSeña {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contSeña button{
border-radius: 7px;
background-color: blue;      
color: yellow;
height: 37PX;
font-size: 24PX;
font-style: oblique;
}

.impEntrada {
  height: 20px;width: 117px;  
  background-color: gray;
}
/*//////////////////////////////////////////////////////////////////////////////////////////*/ 

.contenedor-secundario {  /* IMAGENES */      
  margin-top: 73px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-secundario img{          
  width: 220px;
  height: 220px;
  border-radius: 17px;
  border: 13px solid gray; 
  background-repeat: no-repeat;
  background-position: 10px 0; /* Aquí puedes ajustar los valores para mover la imagen lateralmente */   
  margin-right: -5px;    
  margin-top: -5px;
}
.video-item {  
  height:230px;
  margin-bottom: 20px;
}

.botones {  /*contenedor de botones */
  position: relative;
  top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;      
  align-items: center;
  overflow-y: auto;
  height: 587px;
}
.boton {
  width: 240px;
  height: 320px;
  box-sizing: border-box; 
  padding: 10px; 
  margin: 1.7px; 
}
.image {
    width: 200px;
    height: 200px;
    margin-left: 10px;  
    border-radius: 17px;
    border-color: yellow;             
}
.image-container {      /* CONTENEDOR HIJO FOTOS DE BOTONERA */
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}
.image-container img {  /* FOTOS DE BOTONERA */
  margin-right: -20px;
  border-radius: 17px;
  margin-right:-6px ;
  border: 13px solid gray; 
  background-repeat: no-repeat;
  background-position: 10px 0; /* Aquí puedes ajustar los valores para mover la imagen lateralmente */ 
  animation: moveImage 0.1s linear forwards; /* Transición de 1 segundo */
  transition: filter 1s;
}
.button {
  position: relative;
  display: inline-block;
  margin-left: 7px;      
  width: 400px;
  height: 77px;
  padding: 15px 1px;
  color:yellow;
  border-color: yellow;
  border-radius: 13px;
  letter-spacing: 4px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;   
  justify-content: center;
  align-items: center;
  font-size: 30 px;
  background-color: blue;
  transition: background-color 0.3s ease;
}
.button:hover,
.button:focus{
  background: #00ff00;
  box-shadow: 0 0 100px #00ff00, 0 0 40px #ff0000, 0 0 80px #ffff00;       
  color: blue;
}

.imagen-mama {
  margin-right: -17px;
  width: 300px;           
  height: 257px;
}
.imagen-sara {
  width: 300px;
  height: 200px;
}            
.button-container {  /* CONT/BOTON/IMAGENES */  
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.button-container button{   
  width: 300px;
  height: 57px;
  font-size: 16px;  
  background-color: blue;  
  color: yellow;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 13px;
  margin-right: 15px;
}
.video-v {   /* PADRE VIDEOS */
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  max-width: 1333px;
  height: 415px;
  padding: -7px;
}

.boton-v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.imagenDecripcion{
  margin-top: 7px;
}

#boton-cata-v{
  display:flex;
  flex-direction: row;
  align-items: center;

}
.botDescManola button{
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  width: 300px;
  height: 57px;
  font-size: 16px;
  background-color: blue; 
  color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contManola{
  display: flex;
}
.btnI {
  width: 300px;
  height: 57px;
  margin-right: 10px;
  font-size: 16px;
  background-color: blue; 
  color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.botonBotonera{   
  width: 300px;
  height: 57px;
  margin-right: 10px;
  font-size: 16px;
  background-color: blue; 
  color: yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.descripcion img {
  width: 217px;
  height: 250px;
  border-radius: 17px;
  border: 13px solid gray; 
  background-repeat: no-repeat;
  background-position: 10px 0; /* Aquí puedes ajustar los valores para mover la imagen lateralmente */

}
.descripcion{
  display: none;
  flex-direction: column;
  justify-content: space-evenly;   
  align-items: center;
  margin-top: 17px;
  font-size: 20px;
  color: blue;
  margin-left: 17px; 
}
.boton- { 
  display: flex;
  flex-direction: row;
}
.imagen-sara {
  width: 300px;
  height: 250px;
}
.image-button button{
  width: 200px; /* Tamaño deseado del botón */
  height: 200px; /* Tamaño deseado del botón */
  background-image: url('./assets/moni.png'); /* Ruta de la imagen */
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 2px;
}
#button-mario {  
    background-image: url('./assets/cata.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#botonera {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    height: 64vh;
}

#button-cata {  
  background-image: url('./assets/moni.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#button-juan {  
  background-image: url('./assets//yopp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -80px center;   
}
.text {
  display: inline-block;
  color: blue;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.conVideos video{
  margin-left: 12px;
}
.contBotones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 13px;
}
.fullscreenButton {
  background-color:orangered;
  color:whitesmoke;
  border-radius: 6px;
  width: 190px;  
  height: 40px;
  margin-bottom: 7px;
}
.button-containerVid{  /* HIJO BOTONES VIDEOS */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 9%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ajustamos el z-index para que los botones aparezcan encima del contenedor */
}
.button-containerVid button{  /* BOTONES VIDEOS */        
  margin-top: 137px;
  width: 300px;
  height: 57px;
  margin-right: 27px;
  font-size: 16px;
  background-color: blue; 
  color: yellow;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Añadimos position: relative para que el z-index funcione correctamente */
  z-index: 3; /* Ajustamos el z-index para que los botones aparezcan encima del contenedor */
}
.contVideosWrapper {
  overflow-y: auto;
  max-height: calc(100% - 155px); /* Ajusta la altura máxima del contenedor para mostrar una cantidad específica de videos sin desbordar */
  position: fixed;
  bottom: 0; /* Ajusta el contenedor para que inicie desde la parte inferior de la pantalla */
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambiamos a column para que los elementos se apilen desde la parte inferior hacia arriba */
  z-index: 1; /* Aseguramos que el contenedor esté por debajo de los botones */
}
.contVideos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: -1px; /* Ajusta el espacio entre los contenedores de video según sea necesario */
  margin-top: 27px;
}
.video-container {
  margin-right: 22px;
}
.video-container video{
  width: 190px;
}
.slider {
  background-color: gray;
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-top: 2px;
}
.slide {
  display: inline-block;
  white-space: nowrap;
  animation: slide 5s linear infinite;
  text-align: center; 
}
.slider .slide {
  animation: slide 25s linear infinite; /* Aplica la animación "slide" al texto del slider con una duración de 15 segundos, un movimiento lineal y repetición infinita */
}
.slider .slide:nth-child(1) {
  animation-name: slide-right;
}
.slider.reverse .slide:nth-child(1) {
  animation-name: slide-left;
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);              
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<          AL PASAR MOUSSE                    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.image {
  transition: transform 0.3s;
}
.image:hover {
  transform: scale(1.3);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<         IMAGENES TAMAÑO AUTOMATICO         <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.enlarged {
  transform: scale(1.3);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@keyframes moveImage {
  100% {
    transform: translateX(0);      
  }
  0% {
    transform: translateX(1300px); /* Cambia el valor de la transformación según tus necesidades */
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@keyframes zoomEffect1 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(4);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes zoomEffect2 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(4);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes zoomEffect3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(4);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes zoomEffect4 {
  0% {
      transform: scale(1);           
  }
  50% {
      transform: scale(4);
  }
  100% {
      transform: scale(1);
  }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#password-overlay {
  /*position: fixed;*/
  top: 300;
  left: 600;
  /*width: 100%;*/
  width: 77px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.password-container {
  background-color:aqua;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -37%);
  z-index: 99999;
}
#error-message{
  position: fixed;
  text-align: center;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-47%, -50%);
  z-index: 99999;
  color:white;
  background-color:blue;
  border-radius: 7px;
  height: 77px;
  width: 417px;
}

.descripcion {
  position: relative;
  z-index: 1;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  .button {
    transition: transform 0.8s;
  }

  .button.scale {
    transform: scale(20);
  }
